doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.0.10/css/all.css")
        link(rel="stylesheet", href="css/chatbot.css")
        title ChatBoT Crediminuto
    body

        div.position-absolute.chatbot
            //-.card.col-md-6.ml-auto.mr-md-5.mb-md-5.px-0
                .card-header
                    | Featured
                .card-body
                    h5.card-title Special title treatment
                    p.card-text With supporting text below as a natural lead-in to additional content.
                    a.btn.btn-primary(href='#') Go somewhere -//
            #chatbot-card(style="display:none;").card.chat-room.small-chat.wide.mr-md-5.mb-md-6.px-0.position-absolute.border-radius-header-footer-chatbot.border-0.bg-chatbot.conditionalClose
                .py-2.px-3
                    #toggle.card-header.d-flex.justify-content-between.py-0.border-radius-header-chatbot.border-bottom.bg-chatbot(style='cursor: pointer;')
                        .heading.d-flex.justify-content-start
                            .profile-photo.align-items-center.d-flex
                                img.avatar.mr-2.ml-0(src='img/globo-top-chat.svg' alt='avatar')
                                span.position-absolute.font11-px.text-white.margin-number-message.mx-2.mt-2 1
                            .data.align-items-center.d-flex
                                p.name.mb-0
                                    strong Chat Online
                        .icons.grey-text.align-items-center.d-flex
                            a#closed
                                i.fal.fa-chevron-down.text-danger
                #message.my-custom-scrollbar.bg-chatbot
                    .card-body.p-3
                        .chat-message
                            div.text-center.bg-danger.col-6.mx-auto.border-radius-header-footer-chatbot.mb-3
                                p.mb-0.font11-px.text-white.p-1 Martes 22 de marzo
                            .d-flex.justify-content-start.chatbot-item(data-id="r")
                                .profile-photo.message-photo
                                    img.avatar.rounded-circle.mr-2.ml-0(src='https://ui-avatars.com/api/?name=M&rounded=true&background=ff0000&color=ffffff' alt='avatar')
                                .card.bg-white.rounded.w-75.z-depth-0.mb-2.border-0
                                    .card-body.px-2.pt-2.pb-4
                                        p.card-text.black-text.font11-px.chatbot-color-text.mb-0 Qui animi molestiae autem nihil optio recusandae nisi sit ab quo est.
                                        div.text-right.chatbot-hora
                                            small.font8-px 10:10 PM
                                            small.ml-2
                                                i.fas.fa-check.font8-px.text-success
                            .d-flex.justify-content-end.chatbot-item(data-id="p")
                                .card.bg-white.rounded.w-75.z-depth-0.mb-2.border-0
                                    .card-body.px-2.pt-2.pb-4
                                        p.card-text.black-text.font11-px.chatbot-color-text.mb-0 Qui animi molestiae autem nihil optio recusandae nisi sit ab quo est.
                                        div.text-right.chatbot-hora
                                            small.font8-px 10:10 PM
                                            small.ml-2
                                                i.fas.fa-check.font8-px.text-success
                                .profile-photo.message-photo
                                    img.avatar.rounded-circle.mr-0.ml-2(src='https://ui-avatars.com/api/?name=C&rounded=true&background=FFB200&color=ffffff' alt='avatar')
                            .d-flex.justify-content-start.chatbot-item(data-id="r")
                                .profile-photo.message-photo
                                    img.avatar.rounded-circle.mr-2.ml-0(src='https://ui-avatars.com/api/?name=M&rounded=true&background=ff0000&color=ffffff' alt='avatar')
                                .card.bg-white.rounded.w-75.z-depth-0.mb-2.border-0
                                    .card-body.px-2.pt-2.pb-4
                                        p.card-text.black-text.font11-px.chatbot-color-text.mb-0 Qui animi molestiae autem nihil optio recusandae nisi sit ab quo est.
                                        div.text-right.chatbot-hora
                                            small.font8-px 10:10 PM
                                            small.ml-2
                                                i.fas.fa-check.font8-px.text-success
                            .d-flex.justify-content-end.chatbot-item(data-id="p")
                                .card.bg-white.rounded.w-75.z-depth-0.mb-2.border-0
                                    .card-body.px-2.pt-2.pb-4
                                        p.card-text.black-text.font11-px.chatbot-color-text.mb-0 Qui animi molestiae autem nihil optio recusandae nisi sit ab quo est.
                                        div.text-right.chatbot-hora
                                            small.font8-px 10:10 PM
                                            small.ml-2
                                                i.fas.fa-check.font8-px.text-success
                                .profile-photo.message-photo
                                    img.avatar.rounded-circle.mr-0.ml-2(src='https://ui-avatars.com/api/?name=C&rounded=true&background=FFB200&color=ffffff' alt='avatar')

                .card-footer.text-muted.pt-1.pb-2.px-3.border-radius-footer-chatbot.border-top-0.bg-chatbot
                    .d-flex.mb-md-3
                        input.border-radius-header-footer-chatbot.form-control.pl-md-3.pr-4.pl-3.pr-5#input-send(type='text' placeholder='Escribe aqui...')
                        div.position-absolute.chatbot-btn-send
                            a#btn-send(href="").text-muted
                                i.fal.fa-paper-plane
                        div.align-items-center.d-flex.ml-2
                            a(href="")#btn-upload-file.text-muted
                                i.fas.fa-paperclip.mr-2
            .globo-flotante.ml-auto.position-absolute.d-block
                a(href="").deploy-chatbot
                    img(src="img/globo-flotante.svg")

        footer 
            script(src="js/jquery-3.4.1.min.js") 
            script(src="js/bootstrap.min.js") 
            script(src="js/script.js") 